# Node / Root artifacts
node_modules/
dist/
dist-ssr/
build/
*.local
*.log
logs/

# Dotenv environment variables
.env
.env.dev
.env.prod
.env.*
!.env.example
!.env.prod.example

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Testing & Coverage
coverage/
.nyc_output/

# Keystore & Android signing properties
*.jks
*.keystore
key.properties

