# Node / Root artifacts
node_modules/
dist/
dist-ssr/
build/
*.local
*.log
logs/

# Dotenv environment variables
.env
.env.dev
.env.prod
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Flutter / Dart Mobile artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.apk
*.aab
*.ipa

# Testing & Coverage
coverage/
.nyc_output/
