# Flutter / Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Application bundles & binaries
*.apk
*.aab
*.ipa

# Coverage
coverage/
